{% extends "main/layout.html" %}
<!DOCTYPE html> {% load static %} {% load mathfilters %} {% block content %}



<section>

    <div class="container">
            <div class="category-tab"><!--category-tab-->
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li id="bookmenu1" class="active"><a href="" onclick="f_gobookmenu(1)"  data-toggle="tab">OurBook</a></li>
                        <li id="bookmenu2"><a href="" onclick="f_gobookmenu(2)" data-toggle="tab">NextBook</a></li>
                        <li id="bookmenu3"><a href="" onclick="f_gobookmenu(3)" data-toggle="tab">NowBook</a></li>
                    </ul>
                </div>
            </div>
        <div id="nowbookPage" class="row" style="display:none;">
                {% for ourbook in nowbook %}
                <!--product-details-->
                
                <div class="col-sm-5">
                    <div class="view-product">
                        <img style="width: 50%; height: 50%; margin-left: 100px;"
                        src="http://image.kyobobook.co.kr/images/book/large/{{ ourbook.imgindex }}/l{{ ourbook.bookId }}.jpg" alt="" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-information">
                        <!--/product-information-->
                        <h2>{{ ourbook.booktitle }}</h2>
                        <p>ISBN : {{ ourbook.bookId }}</p>
                        <p>
                            <b>Author:</b> {{ ourbook.author }}</p>
                        <p>
                            <b>Category:</b> {{ ourbook.category }}</p>
                        <p>
                            <b>Publisher:</b> {{ ourbook.publisher }}</p>
                        <p>
                            <b>Presentation:</b> {{ ourbook.presentation }}</p>
                        <p>
                            <i class="fa fa-calendar-o" style="color:#FE980F;" ></i>   {{ ourbook.readingdate }}</p>
                    </div>
                </div>
                {% endfor %}
                <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://book2weeks.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
        </div>
        <div id="nextbookPage" class="row" style="display:none;">

        </div>
        <div id="ourbookPage" class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        {% for cateName in category %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    {% if cateName.categoryName == "전체" %}
                                    <a href="/book/">{{ cateName.categoryName }}</a>
                                    {% else %}
                                    <a href="/book?kindName={{ cateName.categoryName }}">{{ cateName.categoryName }}</a>
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--/category-products-->
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Book</h2>
                </div>

                <div class="category-tab">
                    <div class="features_items">
                        <div class="tab-pane fade active in">
                            {% if noresult is None %}
                            <img style="margin-left: auto; margin-right: auto; display: block;"
                             src="{% static 'images/content/noresult.png' %}"/>
                                <h2 style="text-align: center;">해당 분야의 책이 존재하지 않습니다.
                                    <br/>독서의 폭을 넓혀 봅시다!</h2>
                            {% else %}
                            {% for ourbook in ourbooks %}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo">
                                            <a href="/bookDetail?bookId={{ ourbook.bookId }}"><img src="http://image.kyobobook.co.kr/images/book/large/{{ ourbook.imgindex }}/l{{ ourbook.bookId }}.jpg" alt="" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if noresult is None %}
                
                {% else %}     
                <ul class="pagination">
                    {% if startPageNum != 1 %}
                    <li><a href="/book?pageNum={{startPageNum | sub:1}}&kindName={{filterName}}">&laquo;</a></li>
                    {% else %}
                    <li><a href="javascript:" class="muted">&laquo;</a></li>
                    {% endif %}
                    
                    {% for i in bottomPages %}
                        {% if i == pageNum %}
                        <li><a class="active" href="/book?pageNum={{i }}&kindName={{filterName}}">{{i }}</a></li>
                        {% else %}
                        <li><a href="/book?pageNum={{i }}&kindName={{filterName}}">{{i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if endPageNum < totalPageCount %}
                    <li><a href="/book?pageNum={{endPageNum | add:1}}&kindName={{filterName}}">&raquo;</a></li>
                    {% else %}
                    <li><a href="javascript:" class="muted">&raquo;</a></li>
                    {% endif %}
                    </ul>
                    {% endif %}
                <!--/category-tab-->
            </div>
        </div>
    </div>
</section>
<script>
    $( document ).ready(function() {
    alert( "ready!" );
    });
    

        function f_gobookmenu(menuid){
            if(menuid == 1){
                document.getElementById("ourbookPage").style.display = "block";  
                document.getElementById("nextbookPage").style.display = "none";
                document.getElementById("nowbookPage").style.display = "none";
            }else if(menuid == 2){
                document.getElementById("ourbookPage").style.display = "none";  
                document.getElementById("nextbookPage").style.display = "block";
                document.getElementById("nowbookPage").style.display = "none";
            }else{
                document.getElementById("ourbookPage").style.display = "none";  
                document.getElementById("nextbookPage").style.display = "none";
                document.getElementById("nowbookPage").style.display = "block";
            }
        }
    </script>
{% endblock %}
