{% extends "main/layout.html" %}
<!DOCTYPE html> {% load static %}
{% block content %}
<script type="text/javascript">

function check_all() {
	var chkbox = document.getElementsByName('sentenceCheck');
	var count = 0;

	for(i=0; i < chkbox.length; i++) {
		if(chkbox[i].checked){
			count++;
		}
	}
	
	if (count > 0){
		for(i=0; i < chkbox.length; i++) {
		chkbox[i].checked = false;
		}
	}else{
		for(i=0; i < chkbox.length; i++) {
		chkbox[i].checked = true;
		}
	}
	
}


function sentencePrint(){
	var initBody = document.body.innerHTML;
	var chkbox = document.getElementsByName('sentenceCheck');
	var html = "";
	for ( var i = 0; i<chkbox.length; i++ ){
		if( chkbox[i].checked ){
			html = html + "<div style='width:21cm; page-break-before:always; min-height: 25cm; padding:1.5cm; margin: 0 auto;'><p><font face='바탕체' size='4em'>"
			+document.getElementById('content_'+i).textContent+"</font></p><span style='float:right;'><font face='바탕체'>『"
			+document.getElementById('title_'+i).textContent+"』</font></span><span style='float:right;'><font face='바탕체'>"
			+document.getElementById('writer_'+i).textContent+"</font></span></div>";
		}
	}
	window.onbeforeprint = function(){
		document.body.innerHTML = "";
		document.body.innerHTML = html;
	}
	window.onafterprint = function(){
		document.body.innerHTML = initBody;
	}
	window.print();
}
function f_senchange(senId){
        location.href="/senChange?senId="+senId;
}

</script>

</div>

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#" onclick="sentencePrint()">출력</a></li>
			  <li><a href="/petercat/">등록 +</a></li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="price" width="10">
							<input type="checkbox" width="10" onclick="check_all()"/>
						</td>
						<td class="price" style="padding-left: 30px;" width="150">책</td>
						<td class="description">문장</td>
						<td class="quantity">작가</td>
						<td class="quantity">수정하기</td>
					</tr>
				</thead>
				<tbody>
					{% for sentence in petercatSenten %}
					<tr>
						<td width="10">
							<input type="checkbox" name="sentenceCheck" id="checkboxforsentence"/>
						</td>
						<td class="cart_product" width="150" style="padding-right: 30px;">
								<p id="title_{{forloop.counter0}}">{{ sentence.bookName }}</p>
						</td>
						<td class="cart_description" width="740" style="word-break:break-all">
							<p id="content_{{forloop.counter0}}">{{ sentence.senContent|linebreaksbr }}</p>
						</td>
						<td class="cart_price" width="170" style="word-break:break-all">
								<p id="writer_{{forloop.counter0}}">{{ sentence.senWriter }}</p>
						</td>
						<td class="cart_quantity"width="150" style="word-break:break-all">
							<div class="breadcrumbs"><ol class="breadcrumb"><li><a href="#" onclick="f_senchange('{{sentence.senId}}')">수정</a></li></ol></div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->
	{% endblock %}