{% extends "main/layout.html" %}
<!DOCTYPE html> {% load static %}
{% block content %}

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="/petercat/">등록 +</a></li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="price" style="padding-left: 30px;" width="150">책</td>
						<td class="description">문장</td>
						<td class="quantity">등록자</td>
						<td class="quantity">등록일</td>
					</tr>
				</thead>
				<tbody>
					{% for sentence in petercatSenten %}
					<tr>
						<td class="cart_product" width="150" style="padding-right: 30px;">
								<p>{{ sentence.bookName }}</p>
						</td>
						<td class="cart_description" width="740" style="word-break:break-all">
							<p>{{ sentence.senContent }}</p>
						</td>
						<td class="cart_price" width="170" style="word-break:break-all">
								<p>{{ sentence.register }}</p>
						</td>
						<td class="cart_quantity"width="150" style="word-break:break-all">
							<p>{{ sentence.created }}</p>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->
	{% endblock %}