{% extends "main/layout.html" %}
<!DOCTYPE html> {% load static %} {% load mathfilters %} {% block content %}

<section>

    <div class="container">

         <div id="ourbookPage" class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                        <h2>menu</h2>
                    <div class="panel-group category-products" id="accordian">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="{% url 'mypageMain' %}">발제한 책</a>
                                </h4>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/mypageWish/">읽고싶은 책</a>
                                </h4>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="">독서성향</a>
                                </h4>
                            </div>                                                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Book</h2>
                </div>
                <div class="category-tab">
                    <div class="features_items">
                        <div class="tab-pane fade active in">
                            {% for ourbook in mybooks %}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo">
                                            <a href="/bookDetail?bookId={{ ourbook.bookId }}"><img src="http://image.kyobobook.co.kr/images/book/large/{{ ourbook.imgindex }}/l{{ ourbook.bookId }}.jpg" alt="" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}