{% extends "main/layout.html" %}
<!DOCTYPE html> {% load static %} {% load mathfilters %} {% block content %}

<section>

    <div class="container">
        <div class="category-tab">
            <!--category-tab-->
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li id="bookmenu1">
                        <a href="" onclick="f_gobookmenu(1)" data-toggle="tab">읽은책</a>
                    </li>
                    <li id="bookmenu3">
                        <a href="" onclick="f_gobookmenu(3)" data-toggle="tab">읽는책</a>
                    </li>
                    <li id="bookmenu2" class="active">
                        <a href="" onclick="f_gobookmenu(2)" data-toggle="tab">읽을책</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>menu</h2>
                <div class="panel-group category-products" id="accordian">
                    <!--category-productsr-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/book/">검색하기</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/book/">등록된 책</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/book/">내가 등록한 책</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <!--/category-products-->
            </div>
        </div>

        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <h2 class="title text-center">Book</h2>
            </div>

            <div class="category-tab">
                <div class="searchBar">
                    <form id="nextbooksearch" action="/nextbooksearch/">
                        <span class='green_window'>
                            <input type='text' id="searchKey" class='input_text' placeholder="책 제목 또는 작가이름" />
                        </span>
                        <button type='submit' class='sch_smit'>검색</button>
                    </form>
                </div>                
            </div>
        </div>
    </div>
</section>

<script>
    function f_gobookmenu(menuid) {
        if (menuid == 1) {
            location.href = "/book/";
        } else if (menuid == 2) {
            location.href = "/nextbook/";
        } else {
            location.href = "/nowbook/";
        }
    }
</script> {% endblock %}