{% extends "main/layout.html" %}
<!DOCTYPE html> {% load static %} {% load mathfilters %} {% block content %}

<section>

    <div class="container">
            <div class="category-tab"><!--category-tab-->
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li id="bookmenu1" ><a href="" onclick="f_gobookmenu(1)"  data-toggle="tab">OurBook</a></li>
                        <li id="bookmenu2"><a href="" onclick="f_gobookmenu(2)" data-toggle="tab">NextBook</a></li>
                        <li id="bookmenu3" class="active"><a href="" onclick="f_gobookmenu(3)" data-toggle="tab">NowBook</a></li>
                    </ul>
                </div>
            </div>
        <div id="nowbookPage" class="row" >
                {% for ourbook in nowbook %}
                <!--product-details-->
                
                <div class="col-sm-5">
                    <div class="view-product">
                        <img style="width: 50%; height: 50%; margin-left: 100px;"
                        src="http://image.kyobobook.co.kr/images/book/large/{{ ourbook.imgindex }}/l{{ ourbook.bookId }}.jpg" alt="" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-information">
                        <!--/product-information-->
                        <h1>{{ ourbook.booktitle }}</h1>
                        <p style="margin-top: 30px;">ISBN : {{ ourbook.bookId }}</p>
                        <p>
                            <b>Author:</b> {{ ourbook.author }}</p>
                        <p>
                            <b>Category:</b> {{ ourbook.category }}</p>
                        <p>
                            <b>Publisher:</b> {{ ourbook.publisher }}</p>
                        <p>
                            <b>Presentation:</b> {{ ourbook.presentation }}</p>
                        <p>
                            <i class="fa fa-calendar-o" style="color:#FE980F;" ></i>   {{ ourbook.readingdate }}</p>
                    </div>
                </div>


                                     
        </div>
        <div id="container" style="margin-top: 20px;">
            <div id="css_tabs">
                <input id="tab1" type="radio" name="tab" checked="checked" />
                <input id="tab2" type="radio" name="tab" />
                <input id="tab3" type="radio" name="tab" />
                <input id="tab4" type="radio" name="tab" />
                <label for="tab1">문장들</label>
                <label for="tab2">평가</label>
                <label for="tab3">책소개</label>
                <label for="tab4">발제문</label>
                <div class="tab1_content">
                    {% for senten in sentence %}
                    <div class="u_cbox_area">
                        <div>
                            <span>
                                <i class="fa fa-user" style="color: #FE980F;"></i>
                                <strong>   {{ senten.senWriter }}</strong>
                            </span>
                        </div>
                        <div>
                            <span>{{ senten.senContent }}</span>
                            {% if senten.senWriter == user.username %}
                            <a style="color: rgb(254, 15, 15);" onclick="f_sentenceDelete( '{{ senten.senId }}' )">
                                <i class="fa fa-times"></i>
                            </a>
                            {% endif %}
                        </div>
                        <div>
                            <span style="font-style: italic;">{{ senten.created }}</span>
                        </div>
                    </div>
                    {% endfor %}
                    <form method="post" action="/nowbook/" id="sentenceForm">
                        {% csrf_token %}
                        {{ form.bookId }}
                        {{ form.senContent|safe }}
                    </form>
                    <button type="submit" onclick="f_sentenceRegister( '{{ ourbook.bookId }}' )"
                    id="sentenceBtn" class="btn btn-default get">등록</button>
                </div>
                <div class="tab2_content">Tab2 내용
                    <br />근 인력거꾼의 그 라디오로 한다느니보다 바이며, 왜 2위는 충실하였다. 말라서 듯이 높게 또 가지고 것이다. 궂은 같은 끝나가고 소리가 김첨지는 쳐보았건만, 액수에 후려갈겼다. 그 속에서 하고 과한데.</div>
                <div class="tab3_content">
                    <div class="tab-pane fade active in" id="reviews" >
                        <div class="col-sm-12" style="margin-top: 30px;">
                            <p style="font-size:15px;line-height:28px">{{ ourbook.description|linebreaksbr}}</p>
                            <p>[출처 : YES24 제공]</p>
                        </div>
                    </div>
                </div>
                <div class="tab4_content"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<script>
    function f_gobookmenu(menuid){
        if(menuid == 1){
            location.href="/book/";
        }else if(menuid == 2){
            location.href="/nextbook/";
        }else{
            location.href="/nowbook/";
        }
    }
    function f_sentenceRegister(bookId){
        document.getElementById('idSenForBookId').value = bookId;
        document.getElementById('sentenceForm').submit();
        return false;
    }
    function f_sentenceDelete(senId){
        alert(senId);
        if(confirm("문장을 삭제하시겠습니까?")){
            location.href="/nowbooksendelete?senId="+senId;
        }

    }
</script>

{% endblock %}