{% extends "main/layout.html" %}
<!DOCTYPE html> {% load static %} {% block content %}


<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/readingwrite/">Write +</a></li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image"></td>
							<td class="description">Reading List</td>
							<td class="price">Writer</td>
							<td class="quantity">Date</td>
						</tr>
					</thead>
					<tbody>
						{% for read in reading %}
						<tr>
							<td class="cart_product">
								<img style="width: 30px; height: 30px;" 
									src="/static/images/content/member/{{read.writer}}.jpg" alt=""></a>
							</td>
							<td class="cart_description" width="700" style="word-break:break-all">
								<h4><a href="/readingdetail?readId={{ read.readId }}">{{ read.title }}</a></h4>
								<p>Book : {{ read.bookId.booktitle }}</p>
							</td>
							<td class="cart_price">
								<p>{{ read.writer }}</p>
							</td>
							<td class="cart_quantity">{{ read.created }}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </section> <!--/#cart_items-->
{% endblock %}