{% extends "main/layout.html" %}
<!DOCTYPE html> {% load static %} {% load mathfilters %} {% block content %}

<section>
<div class="container">
    <div class="category-tab"><!--category-tab-->
        <div class="col-sm-3" >
            <div class="staticImage"  >
                <center><img src="{% static 'images/cart/totalbookcount.png' %}" ></center>
            </div>
            <div class="statictotalcount" >
                <center><h3 id="totalCount">총 {{ totalCount }}권</h3></center>    
            </div>
            <div class="statictotalcount" style="margin-bottom:30px;">
                <center><select style="width:70%;">
                    {% for meet in meeting %}
                    <option>&nbsp;&nbsp;{{ meet.meetingdate }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 기준</option>
                    {% endfor %}
                </select></center>
            </div>
        </div>
         <div class="col-sm-3" >
            <div class="staticImage"  >
                <center><img src="{% static 'images/cart/totalbookcount.png' %}" ></center>
            </div>
            <div class="statictotalcount" >
                <center><h3 id="totalCount">총 {{ totalCount }}권</h3></center>    
            </div>
            <div class="statictotalcount" style="margin-bottom:30px;">
                <center><select style="width:70%;">
                    {% for meet in meeting %}
                    <option>&nbsp;&nbsp;{{ meet.meetingdate }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 기준</option>
                    {% endfor %}
                </select></center>
            </div>
        </div>
    </div>
</div>
</section>

<script>

</script>

{% endblock %}
